
.modal-hide {
    display: none;
    transition: slideOut 1s ease;
}

.modal-show {
    color: white;
    display: block;
    background-color: rgba(0, 0, 0, 0.856);
    height: 80%;
    width: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: slideDown 1s ease-in-out;
    backdrop-filter: brightness(0);
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-close-btn {
    background-color: transparent;
    color: #fff;
    font-size: 4rem;
    margin: 0;
    padding: 0;
    position: relative;
    right: .5rem;
    top: .5rem;
    outline: none;
    border: none;
    
    &:hover {
        color: yellow;
        transform: scale(1.1);
        transition: 1s ease;
    }
}

@keyframes slideDown {
    from {
        opacity: 0;
        visibility: hidden;
        top: -10px;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        visibility: visible;
    } 
    to {
        opacity: 0;
        visibility: hidden;
        top:-10px;
    }
}

@media all and (max-width: 700px) {
    .modal-show {
        width: 80%;
        height: 100%;
    }
}