

.project-modal {
    
    &__title {
        font-size: 3rem;
        margin: 0 0 2rem 0;
        font-style: italic;
    }


    &-container {
        display: flex;
        margin: 2rem auto;
        width: 90%;

        &__left {

            &-gif {
                height: 18rem;
                width: 22rem;
                border-radius: 13px;
                margin: 1.5rem auto;
                transition: 1s ease;

                &:hover {
                    transform: scale(1.1);
                    transition: 1s ease;
                }
                
            }

            &-img {
                height: 15rem;
                width: 22rem;
                border-radius: 10px;
                
                margin: 1.5rem auto;
                transition: 1s ease;

                &:hover {
                    transform: scale(1.15);
                    transition: 1s ease;
                }
            }
        }
        //Right side of project cards
        &__right {
            width: 70%;
            margin-left: 3rem;
            text-align: left;

            &-title {
                font-size: 2.2rem;
                font-style: italic;
                display: inline-block;
                margin-right: 1rem;
                margin-bottom:0;
            }

            &-buttons {
                color: white;
                font-size: 2rem;
                text-decoration: none;
                display: inline-block;
                margin-left: .8rem;
                margin-bottom: 0;
            }

            &-description {
                font-size: 1.3rem;
            }

            &-icons {
                text-align: left;
                font-size: 4rem;
                width: 50%;
                display: flex;
                justify-content: space-around;

                &-title {
                    font-size: 2rem;
                    padding-top: .5rem;
                   
                }
                 
                &-item {
                    font-size: 1.3rem;
                    padding-left: 1rem;
                    display: inline-block;
                }
            }
        }
    }
}


@media all and (max-width: 700px) {
    .project-modal {

    &__title {
        font-size: 2.5rem;
        margin-bottom: 1rem;
        font-style: normal;
    }


    &-container {
        margin: 0 auto;
        width: 95%;
        display: flex;
        flex-direction: column-reverse;
        justify-items: center;

        &__left {

            &-gif {
                height: 15rem;
                width: 18rem;
                border-radius: 13px;
                margin-bottom: 4rem;
            }

            &-img {
                height: 14rem;
                width: 19rem;
                border-radius: 15px;
                
            }
        }
        //Right side of project cards
        &__right {
            text-align: center;
            width: 90%;
            margin: 0 auto;

            &-title {
                font-size: 2rem;
                font-style: italic;
                margin-bottom: .5rem;
                display: block;
                margin: 0 auto;
            }

            &-buttons {
                font-size: 2rem;
                margin: .5rem auto;
                padding-left: .5rem;
            }

            &-description {
                font-size: 1.3rem;
                margin: .5rem 0;
                font-weight:lighter;
            }

            &-icons {
                text-align: left;
                font-size: 3.5rem;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-content: center;

                &-title {
                    font-size: 2rem;
                    padding-top: .5rem;
                   
                }
                 
                &-item {
                    font-size: 1.3rem;
                    padding-left: 1rem;
                    display: inline-block;
                }
            }
        }
    }
}
}
